@inject IHttpContextAccessor HttpContextAccessor
@{
    var cartCount = HttpContextAccessor?.HttpContext?.Session.GetInt32("CartCount") ?? 0;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Coffee Shop v5.7.8, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.7.8, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/images/coffee-icon-sign-symbol-design-free-png.webp" type="image/x-icon">
    <meta name="description" content="">


    <title>Home</title>
    <link rel="stylesheet" href="~/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="~/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/parallax/jarallax.css">
    <link rel="stylesheet" href="~/dropdown/css/style.css">
    <link rel="stylesheet" href="~/socicon/css/styles.css">
    <link rel="stylesheet" href="~/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
    <link rel="preload" as="style" href="~/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="~/mobirise/css/mbr-additional.css" type="text/css">




</head>
<body>

    <section data-bs-version="5.1" class="menu menu3 cid-tsEQosCCDP" once="menu" id="menu3-0">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/images/coffee-icon-sign-symbol-design-free-png.webp" alt="Coffee Shop" style="height: 3rem;">
                        </a>
                    </span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black show display-4" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link link text-black show display-4" asp-controller="Products" asp-action="Shop">Shop</a></li>
                        <li class="nav-item"><a class="nav-link link text-black show display-4" href="page5.html">Contact</a></li>
                        <partial name="_LoginPartial"></partial>
                        <li class="nav-item">
                            <a class="nav-link link text-black show display-4" asp-controller="ShoppingCart" asp-action="Index">
                                <span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont mbr-iconfont-btn"><small>(@cartCount)</small></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    @RenderBody()
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/parallax/jarallax.js"></script>
    <script src="~/smoothscroll/smooth-scroll.js"></script>
    <script src="~/ytplayer/index.js"></script>
    <script src="~/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/theme/js/script.js"></script>
    @await RenderSectionAsync("Scripts",false);
</body>
</html>