
<section data-bs-version="5.1" class="header18 cid-tsEQyIZRcx mbr-fullscreen mbr-parallax-background" id="header18-1">
    <div class="mbr-overlay" style="opacity:0.9; background-image: url('https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80');"></div>
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>The daily grind coffee house</strong></h1>

                <p class="mbr-text mbr-fonts-style mbr-white display-7">
                    Where every cup is a fresh brew of perfection
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" asp-controller="Products" asp-action="Shop"><span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont mbr-iconfont-btn"></span>Shop now&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content2 cid-tsEQSCqggh" id="content2-2">
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Top Selling</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Make your mornings better with our top-selling product.</h5>
        </div>
       
           <partial name="_ProductCard"></partial>
           
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer7 cid-tsQdrs3Vrj" once="footers" id="footer7-13">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2025&nbsp; - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
