@model Order
   

    <form asp-action="Checkout" method="post" role="form">
        <section data-bs-version="5.1" class="form6 cid-tsFfsp7eqK" id="form6-n">

            <div class="container">
                <div class="mt-5">
                    <!-- Checkout Panel Information-->
                    <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-4">
                        <h3 class="fs-5 fw-bolder m-0 lh-1">Shipping Address</h3>
                    </div>
                    <div class="row">
                        <!-- First Name-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="FirstName" class="form-label">First name</label>
                                <input asp-for="FirstName" type="text" class="form-control"  placeholder="" value="" required="">
                            </div>
                        </div>

                        <!-- Last Name-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="LastName"  class="form-label">Last name</label>
                                <input asp-for="LastName" type="text" class="form-control"  placeholder="" value="" required="">
                            </div>
                        </div>

                        <!-- Email-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" asp-for="Email" placeholder="">
                            </div>
                        </div>
                        <!-- Email-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Phone" class="form-label">Phone</label>
                                <input type="tel" class="form-control" asp-for="Phone" placeholder="">
                            </div>
                        </div>
                        <!-- Address-->
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Address" class="form-label">Address</label>
                                <input type="text" class="form-control" asp-for="Address" placeholder="123 Some Street Somewhere"></input>
                            </div>
                        </div>
                        <!-- Address-->
                    </div>

                    <div class="col-auto mbr-section-btn align-center">
                        <button type="submit" class="btn btn-primary display-4">Place Order</button>
                    </div>

                </div>
            </div>
        </section>
    </form>
   