
<div class="container">
    <br><br><br><br>
    <div class="text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/148/148767.png" class="img-fluid"
             style="width: 200px; height: 200px; margin-left: auto; margin-right: auto" alt="...">
        <br>
        <h1><strong>Your order has been received</strong></h1>
        <br>
        <p>Thank you for your purchase !</p>
        <a class="btn btn-primary w-20 " asp-controller="Products" asp-action="Shop">
            Start Shopping Again
        </a>
    </div>
</div>